body{
    font-family:Helvetica;
    
    
    
}
nav{
    margin-left: 10%;
   
}
.fbox{
    display:inline-grid;
    
    grid-template-columns:repeat(9,0.5fr) ;
    grid-gap:1%;
   

}



.cards{
    display: grid;
    row-gap: 10%;
}
.fbox2{
   font-weight: bolder;
   
}

button{
    border:none;
}

body{
    background-image: url(Images/1.png),url(Images/2\ \(1\).png),url(Images/3.png);
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-position: right top,right center,left bottom;
}

 





button{
    background-color:blueviolet;
    color:azure;
    border-radius:20%;
}

nav a{
    padding:1%;
    text-decoration: none;
    color:black;
}

.box3{
    background-color:rgb(235, 13, 191,.05);
    padding: 10px;
}
.box4{
    background-color:rgb(235, 13, 191,.05);
    padding: 10px;
}
.box5{
    background-color:rgb(235, 13, 191,.05);
    padding: 10px;
}

.font1{
     font-weight: bold;
}
.fbox1{
    border-radius:100%;
    background-color: blueviolet;
    color:azure;
    padding: 10px;
    
    
}
.fbox9{
    border-radius:7%;
    background-color: blueviolet;
    color:azure;
    padding: 10px;
    
}
.text1{
   color:azure;
}
nav a:hover{
    background-color:rgba(238, 167, 224, 0.05);
}
.imagep1{
    float:right;
}
.imagep1,.imagep2{
    height:20%;
    width:20%;
}
.imagep1{
    margin-right: 27%;
    margin-top: 0%;
    
    background-color: ghostwhite;
}
.imagep2{
    margin-left: 0%;
    margin-top: 0%;
    
    background-color: ghostwhite;
}
.imagep2{
    border-radius: 7%;
}



.box3,.box4,.box5{
 display: inline-block; 
 border-radius:7%;
 width:15%;
 text-align: center;
 height: 10%;
    
}




button{
    padding:10px;
    border-radius:7%;
    size:10%;

   
}
.card-1{
    display:inline-grid;

}

.what1{
    margin-left:0%;
    text-align: left;
    
}
.imagep1{
    float: right;
    border-radius:7%;
}

.card-1{
    display:inline-grid;

}
.b3{
    outline-color:blueviolet ;
    color:blueviolet;
    background-color: ghostwhite;
}

.what2{
    margin-left:0%;
    text-align: left;
    
}
.imagep2{
    float: left;
    border-radius:7%;
}
::-webkit-scrollbar{
    width: auto;

}
::-webkit-scrollbar-thumb{
    background-color: blueviolet;
    border-radius:7%;
}
::-webkit-scrollbar-track{
    background-color: rgb(251, 251, 249);
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(202, 14, 219);
}

.card1,.card2{
    margin-left: 10%;
    margin-top: 10%;
}
.ffbox2{
    align-items: center;
}
.fbox2{
    border-radius:7%;
    
     
    
    
    padding: 10px;
    
}
.fbox3{
    border-radius:7%;
    
    
    padding: 10px;
    
}
.fbox4{
    border-radius:7%;
    
    padding: 10px;
    
    
}
.fbox5{
    border-radius:7%;
    
    
    padding: 10px;
    
}
.fbox6{
    border-radius:7%;
    
    
    padding: 10px;
    
}
.fbox7{
    border-radius:7%;
   
    
    padding: 10px;
    
}
.fbox8{
    border-radius:7%;
    
    
    padding: 10px;
    
}
.what4{
 margin-left: 10%;
}
footer{
    text-align: center;
}
.what2{
    align-items: center;
    text-align: left;

}


